.container{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.header-container,
.main-container {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.header-container{
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

.main-container{
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

/* header container style */
.header-news{
  width: 60%;
  border: 1px dotted silver;
  padding: 10px;
}

.header-nav-news,
.header-news-href,
.header-trading-view{
  border: 1px dotted purple;
}

.banner {
  width: 30%;
  border: 1px dotted silver;
  padding: 10px;
}

.main-container .banner{
  width: 100%;
}

/* main search style */
.main-container-search{
  border: 2px dotted orange;
  padding: 10px;
}

.main-nav-search,
.main-search{
  border: 1px dotted silver;
  padding: 10px;
}

/* main container widgets */
.main-container-widgets{
  padding: 10px;
  border: 2px dotted green;
  display: flex;
  gap: 10px;
}

.main-container-widgets > div{
  border: 1px dotted silver;
  padding: 10px;
}